<p class="page-title">contact me</p>

<% if @post %>
<div class="image-holder" id="contact-image">
  <%= image_tag @post.image.url(:big) %>
</div>
<% else %>
<p class="post-description">under construction</p>
<% end %>