/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('http://fonts.googleapis.com/css?family=Crimson+Text');

div.logo-holder {
  height: 100px;
  width: 100px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
  margin-bottom: 1em;
  margin-left: 1em;

}


p.logo-title {
  font-family: Arial;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

div.nav-holder {
  margin: 1em;
  display: inline;
  width: 200px;
  position: fixed;
  padding-left: 1.5em;
  padding-top: 2.25em;
}
.nav-bar {
  margin-left: 1em;
  float: left;
  display: block;
  margin-top: 1.75em;
  margin-bottom: 1em;

}

.nav-bar a {
  display: block;
  margin-bottom: -5px;
  font-family: "Crimson Text";
  letter-spacing: .5px;
  font-size: .95em;
  text-transform: capitalize;
}
.page-title {
  font-family: arial;
  letter-spacing: 2px;
  font-size: .85em;
  text-transform: uppercase;
}

p.post-description {
  margin-top: -15px;
  font-family: arial;
  letter-spacing: 1px;
  font-size: .75em;
}

.project-link {
  margin-bottom: -7.5px;
  margin-top: -7.5px;
}

a.project-link {
  font-family: arial;
  font-size: .8em;
  letter-spacing: 0px;

}
.project-link {
  display: block;
  color: #919191;
}

.project-link:hover {
  color: #C0C0C0;
}

.project-link:active {

  color: #000;
}
.projects-holder {
  margin-top: 1em;
  margin-bottom: 1em;
  clear: left;
}

.content-holder {
  margin-left: 190px;
  padding: 1em;

}

p.post-title {
  margin-top: 0px;
  font-size: .9em;
  font-style: italic;
  color: #C0C0C0;
  letter-spacing: 1px;
}

#new-project-link {
  clear: left;
  display: block;
  text-transform: uppercase;
  font-size: .75em;
}

.dot-buttons {
  font-size: .5em;
  display: inline;
  margin-right: -1px;

}

.dot-buttons a {
  color: #C0C0C0;
}

.dot-buttons a:hover {
  color: #282828;
}

.image-holder {
  height: 525px;
  margin-top: 2.25em;
}

.image-holder img {
  height: 100%;
}

.active {
  color: #000;
}

a:active {
  color: #000;
}

#active-dot a {
  color: #000;
}
